* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

body {
    font-family: 'Poppins', sans-serif;
    transition: background 0.2s linear;
}

body.dark {
    background-color: #292C35;
}

body.dark a {
    color: #fff;
}

body.dark b {
    color: #fff;
}

body.dark h1 {
    color: #fff;
}

body.dark h2 {
    color: #fff;
}

body.dark h3 {
    color: #fff;
}

body.dark h4 {
    color: #fff;
}

body.dark li {
    color: #fff;
}

body.dark ul {
    color: #fff;
}

body.dark p {
    color: #fff;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 10vh;
    background-color: #05386B;
}

p {
    font-size: 20px;
}

.aboutSection {
    padding-top: 70px;
    text-align: center;
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 8px;
    height: 22px;
    width: 22px; 
    transition: transform 0.2s linear;
}

.button {
    background-color: #102A43;
    border-radius: 20%;
    color: #fff;
    margin-left: 170px;
    margin-top: 25px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.contact {
    padding-top: 70px;
    text-align: center;
    padding-bottom: 30px;
}

.container {
    padding: 2px 16px;
}

.checkbox {
    opacity: 0;
}

.checkbox:checked + .label .ball {
    transform: translateX(25px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c;
}

.headerSection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-end;
    height: 80px;
    width: 100%;
    background-color: #101010;
}

.home {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
}

.homeTitles {
    padding-left: 30px;
    padding-top: 100px;
}

.homeImage {
    margin-left: 250px;
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.nav-links li {
    list-style: none;
}

.projects {
    padding-top: 70px;
    text-align: center;
}

.subsectionTitle {
    padding-top: 30px;
}

.techSection {
    padding-top: 30px;
}

.workExperienceSection {
    padding-top: 30px;
    display: flex;
}

