a:visited {
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 40px;
    transition: background 0.2s linear;
}

body.dark {
    background-color: #292C35;
}

body.dark a {
    color: #fff;
}

body.dark b {
    color: #fff;
}

body.dark h1 {
    color: #fff;
}

body.dark h2 {
    color: #fff;
}

body.dark h3 {
    color: #fff;
}

body.dark h4 {
    color: #fff;
}

body.dark li {
    color: #fff;
}

body.dark ul {
    color: #fff;
}

body.dark p {
    color: #fff;
}

a {
    text-decoration: none;
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 8px;
    height: 22px;
    width: 22px; 
    transition: transform 0.2s linear;
}

.button {
    background-color: #102A43;
    border-radius: 20%;
    color: #fff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.checkbox {
    opacity: 0;
}

.checkbox:checked + .label .ball {
    transform: translateX(25px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c;
}

.headerSection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: end;
    height: 80px;
}

.home {
    height: 850px;
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}

.menuItem {
    display: inline;
}

.menuItemText {
    font-size: 20px;
    padding-right: 20px;
}

.title {
    padding-top: 225px;
}

