li {
    display: inline;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 20px
}

a {
    text-decoration: none;
}

.home {
    height: 900px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

