li {
    display: inline;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    transition: background 0.2s linear;
}

body.dark {
    background-color: #292C35;
}

body.dark h1 {
    color: #fff;
}

body.dark h2 {
    color: #fff;
}

body.dark h3 {
    color: #fff;
}

body.dark p {
    color: #fff;
}

a {
    text-decoration: none;
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 2px;
    height: 22px;
    width: 22px; 
    transition: transform 0.2s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label .ball {
    transform: translateX(25px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c;
}

.headerSection {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.label {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 50px;
}

.home {
    height: 900px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

